{% extends "template.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Administratoren</h2>
    <h5><a href="{{ url_for('new_admin') }}">Neuen Administrator anlegen</a></h5>
    <br/>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Aktionen</th>
            <th>Name</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody>
          {% for a in admins %}
          <tr>
            <td>
              <form id="actions_{{ a.email }}" method="post">
                <input type="hidden" name="email" value="{{ a.email }}" />
                
                <input type="image" name="delete" src="{{ url_for('static', filename='bin.png') }}" onclick="return confirm('Bist du sicher, dass du \'\'{{ a.username }}\'\' löschen möchtest?');" />
                
                <input type="image" name="edit" src="{{ url_for('static', filename='edit.png') }}" />
                
              </form>
            </td>
            <td>{{ a.name }}</td>
            <td><a href="mailto:{{ a.email }}">{{ a.email }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <table >
	</div>
{% endblock %}