{% extends "template.html" %}
{% block content %}
  <div class="jumbo">
  <h2>Gerätezugriff bearbeiten</h2>
  <form action="" method=post>
    <dl>
      <input type=hidden name=uid value="{{ device.uid }}">
      <dt>UID:</dt>
      <dd>{{ device.uid }}</dd>
      <dt>Name:</dt>
      <dd>{{ device.name }}</dd>
      
      <dt>E-Mail: </dt>
      <dd><a href="mailto:{{ device.name }}">{{ device.email }}</a></dd>
      
      <dt>Status: </dt>
      <dd>
        <select name="status" size="4">
          <option {% if device.status == "green" %}selected{% endif %}>green</option>
          <option {% if device.status == "yellow" %}selected{% endif %}>yellow</option>
          <option {% if device.status == "red" %}selected{% endif %}>red</option>
          <option {% if device.status == "new" %}selected{% endif %}>new</option>
        </select>
        <!-- <img src="/static/device_status/{{ device.status }}.png"> - {{ device.status }} -->
      </dd>
    </dl>
    <p><input type=button onclick="history.back();" value="Zurück"> <input type=submit value="Bestätigen"> 
  </form>
</div>
{% endblock %}
