<!DOCTYPE html>
<html>
  <head>
    <title>{{ config['SERVICE_NAME'] }} Verwaltung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='javascript/helpers.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="{{ url_for('pubs') }}">{{ config['SERVICE_NAME']}} Verwaltung</a>
          <ul class="nav">
            
            {% if session.logged_in %}
            <li {% if request.path == "/admin/pubs" %}class="active"{% endif %}><a href="{{ url_for('pubs') }}">Publikationen</a></li>
            <li {% if request.path == "/admin/devices" %}class="active"{% endif %}><a href="{{ url_for('devices') }}">Geräte</a></li>
            <li {% if request.path == "/admin/logout" %}class="active"{% endif %}><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not session.logged_in %}
            <li {% if request.path == "/admin/login" %}class="active"{% endif %}><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    <br/>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      <br \>
      {% endfor %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

